<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093105130876-hldnci72ejgeka60f9ulice9amfb6nca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093105130876-hldnci72ejgeka60f9ulice9amfb6nca</string>
	<key>API_KEY</key>
	<string>AIzaSyBzrpqcueaIEWPz6wp_LbckiVHLt00_rxY</string>
	<key>GCM_SENDER_ID</key>
	<string>1093105130876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.swixStarkovSwift.ToDoFire</string>
	<key>PROJECT_ID</key>
	<string>todofire-59</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093105130876:ios:ce1f3258c7134a4acbd8f9</string>
</dict>
</plist>